<h1 mat-dialog-title>Agregar categoria</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Nombre de la categoria</mat-label>
      <input matInput formControlName="categoriaNombre" autocomplete="off"/>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="formulario.invalid">Agregar</button>
</div>
