/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*COLORES PRINCIPALES*/

$color-primario: #3f51b5;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  color: #fafafa;
  background: #558b2f;
}

.snackbar-error {
  color: #fafafa;
  background: #f44336;
}
