<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button aria-label="Logout button" (click)="goToHome()" title="Regresar al inicio">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div class="pantalla-titulo">Menu</div>
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">

      <div fxFlex class="search-bar" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input fxFlex placeholder="Buscar mesas" type="text" [(ngModel)]="searchInput" (keyup)="buscar()"/>
      </div>

      <button mat-icon-button aria-label="Logout button" (click)="goToHome()" title="Ir al inicio">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="categorias-container">

  <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="mostrarBarraProgreso"></mat-progress-bar>


  <div class="card-container" *ngFor="let categoria of categorias" (click)="goToProductos(categoria)">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <span class="categoria-descripcion">{{categoria.categoriaNombre}}</span>
    </mat-card>
  </div>

  <div class="card-container" (click)="crearCategoria()">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <span class="categoria-descripcion">Agregar</span>
      <span class="material-icons agregar-categoria">add</span>
    </mat-card>
  </div>

</div>
