@import "src/styles";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .search-bar {
    background-color: white;
    height: 32px;
    border-radius: 5px;

    mat-icon {
      margin-left: 5px;
      color: #757575;
    }

    input {
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
    }
  }

  .card-container {
    position: relative;
    height: 125px;
    width: 125px;
    padding: 16px;

    .option-card {
      cursor: pointer;
      min-height: 100%;
      min-width: 100%;
      background: #fff;
      overflow: hidden;
      z-index: 10;
      padding: 16px;

      .agregar-categoria {
        font-size: 2em;
        color: #616161;
      }

      .categoria-descripcion {
        color: rgba(0, 0, 0, .54);
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  .categorias-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-grow: 1;
    position: relative;
  }

  .progress-bar {
    top: 0.50px;
    position: absolute;
  }

}
