<h1 mat-dialog-title>Agregar producto</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="productoNombre" autocomplete="off"/>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de producto</mat-label>
      <mat-select formControlName="productoTipoId">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
          {{tipo.productoTipoNombre}}
        </mat-option>
      </mat-select>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripcion del producto</mat-label>
      <textarea rows="3" matInput formControlName="productoDescripcion" autocomplete="off"></textarea>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Precio del producto</mat-label>
      <input type="number" matInput formControlName="precio" autocomplete="off"/>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="formulario.invalid">Agregar</button>
</div>
